*
	box-sizing border-box
html
	height 100%
	font-size 100%
	overflow-x hidden
	overflow-y auto
body
	height 100%
	font-family font_main
	font-size 1em
	line-height 1.25em
	color color_black
	background-color color_white
	position relative
