path_images = '../../assets/images/'

display_mobile_portrait = 320px
display_mobile_landscape = 480px
display_tablet_portrait = 768px
display_tablet_landscape = 1024px
display_laptop = 1230px

gap_touch = 20px
gap_laptop = 30px

color_white = #ffffff
color_black = #000000
color_blue = #0066c0
color_yellow = #ffc226
color_gray = #dddddd
color_smoke = #f5f5f5

font_main = 'Roboto', Helvetica, Arial, sans-serif
font_heading = 'Gabriela', serif
